/* resetear página web */
* {
    margin: 0;
    padding: 0;
    font-family: 'waltograph', sans-serif ;
}
.main-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calendario-box {
    width: 80%;
    background-color: rgb(216, 245, 249);
    border-radius: 47px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 100px);
    gap: 15px;
}
.box-celda {
    width: 100%;
    /* height: 150px; */
    background-color:black;
    border-radius: 43%;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items:center;
}
.nombre-mes {
    font-family:'waltograph', sans-serif ;
    font-size: 5em;
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: orange;
}
.nombre-dia {
    background-color: rgb(18, 151, 16);
    border-radius: 43%;
    font-family:'waltograph', sans-serif ;
    color: white;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items:center;
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'waltograph';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/waltograph42.otf'); /* IE9 Compat Modes */
    src: url('../fonts/waltographUI.ttf') format('embedded-opentype'), /* IE6-IE8 */

  }