*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
header {
 /*    position: fixed; */
    background-color: white;
    z-index: 15;
    width: 100%;
    display: grid;
    grid-template: "empty-left main-logo empty-center box-main-menu empty-right" 140px /
                        140px     1fr          3fr           3fr           40px;   
}
.main-logo {
    grid-area: main-logo;
}
.img-logo {
    padding: 30px 0 0 100px;
}
.box-main-menu {
    grid-area: box-main-menu;
}
.main-menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 150px;
}
.main-menu > li > a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    display: block;
    margin: 0 30px;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.main-circle {

    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    position: fixed;
    top: 280px;
    right: -950px;
}
.main-circle-green {
    background-color: rgb(2, 104, 64);
}
.main-circle-light-pink {
    background-color: rgb(230, 112,147);
}
.main-circle-dark-pink {
    background-color: rgb(194, 73, 159);
}
h1 {
    font-size: 4em;
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
}
.title-color {
    color: rgb(2, 104, 64) ;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.main-content {
    margin-top: 200px;
    display: grid;
    grid-template:"empty-left product-text empty-center product-img empty-right" 140px /
                     140px         3fr         3fr          3fr            150PX;
}
.product-text {
    grid-area: product-text;
}
.product-img {
   grid-area: product-img;
   z-index: 10;
   position: relative;
   top: 20px;
   left: 140px;
}
.description-text {
    color: bisque;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.button-learn {
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(2, 104, 64);
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
.about-content p {
    font-size: 1.6rem;
}
.box-img {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 750px;
    gap: 20PX;
}
.style-img-mini {
    z-index: 20;
    position: relative;
    transition: all 600ms;
    top: 0;
}
.style-img-mini:hover {
    cursor: pointer;
}
.mini-green:hover {
    top: -30px;
}
.mini-light-pink:hover {
    top: -30px;
}
.mini-dark-pink:hover {
    top: -30px;
}